In [2]:
import pandas as pd
import numpy as np

In [3]:
hospital_df=pd.read_csv('data/경기도 성남시_동물병원_현황_20240623.csv', encoding='cp949')

In [4]:
pharmacy_df=pd.read_csv('data/경기도 성남시_동물약국_현황_20240705.csv', encoding='cp949')

In [5]:
pet_df=pd.read_csv('data/경기도 성남시_반려동물_등록현황_20240625.csv', encoding='cp949')

In [6]:
hospital_df.head(5)

,구별,동별,사업장명,인허가일자,소재지도로명주소,소재지지번주소,소재지전화번호
0,수정구,단대동,금광동물병원,1991-01-18,경기도 성남시 수정구 산성대로 431 (단대동),경기도 성남시 수정구 단대동 97-3번지,031-731-5511
1,분당구,이매동,분당동물병원,1993-07-01,"경기도 성남시 분당구 양현로 126, 미림프라자 104호 (이매동)",경기도 성남시 분당구 이매동 115-1번지 미림프라자 104호,031-705-4144
2,분당구,수내동,금산헤르쯔 동물병원,1993-12-21,"경기도 성남시 분당구 돌마로 364, 현대제일상가 21호 (수내동)",경기도 성남시 분당구 수내동 79-2번지 현대제일상가 21호,031-712-2795
3,분당구,서현동,서울종합동물병원,1994-06-24,경기도 성남시 분당구 불정로 381 (서현동),경기도 성남시 분당구 서현동 305-1,031-702-5323
4,중원구,상대원동,한국동물병원,1994-12-20,"경기도 성남시 중원구 희망로 360, 10호 (상대원동)",경기도 성남시 중원구 상대원동 2999-10번지 10호,031-746-8990

In [7]:
pharmacy_df.head(5)

,구별,동별,사업장명,인허가일자,소재지도로명주소,소재지지번주소,전화번호
0,분당구,서현동,웰리드동진약국,2022-06-13,"경기도 성남시 분당구 불정로 381, 효자촌동진프라자 1011호 (서현동)",경기도 성남시 분당구 서현동 305번지 1호 효자촌동진프라자 1011호,NaN
1,분당구,대장동,참약사 대장약국,2022-06-20,"경기도 성남시 분당구 판교대장로6길 10, 107호 (대장동)",경기도 성남시 분당구 대장동 202번지 4호,NaN
2,분당구,금곡동,청솔약국,2022-06-30,"경기도 성남시 분당구 돌마로 79, 썬프라자 107호 (금곡동)",경기도 성남시 분당구 금곡동 153번지 썬프라자 107호,NaN
3,분당구,구미동,하나약국,2022-07-12,"경기도 성남시 분당구 미금일로 71, 하나빌딩 101호 (구미동)",경기도 성남시 분당구 구미동 144번지 4호 하나빌딩 101호,NaN
4,분당구,수내동,드림약국,2022-07-19,"경기도 성남시 분당구 백현로101번길 17, 초림프라자 1층 118호 (수내동)",경기도 성남시 분당구 수내동 20번지 2호 초림프라자 118호,NaN

In [8]:
pet_df.head(5)

,읍면동(법정동),등록주체_시군구,등록주체_대행업체,등록주체_기타(이벤트등),종류(RFID종류_내장형),종류(RFID종류_외장형),종류(RFID종류_인식표),등록_품종수,동물소유자수,동물소유자당_동물등록수,합계,미승인,반려,데이터 기준일자
0,율동,6,77,0,50,28,5,28,63,1.32,83,0,0,2024-06-25
1,구미동,416,2822,3,1777,1271,193,96,2523,1.28,3241,1,2,2024-06-25
2,궁내동,29,188,0,125,77,15,41,160,1.36,217,0,1,2024-06-25
3,금곡동,286,1805,0,1152,831,108,72,1629,1.28,2091,0,0,2024-06-25
4,대장동,17,286,0,157,133,13,48,219,1.38,303,0,0,2024-06-25

In [9]:
#읍면동(법정동)컬럼명을 동별로 바꾼다
pet_df=pet_df.rename(columns={'읍면동(법정동)':'동별'})

In [10]:
pet_df.head(5)

,동별,등록주체_시군구,등록주체_대행업체,등록주체_기타(이벤트등),종류(RFID종류_내장형),종류(RFID종류_외장형),종류(RFID종류_인식표),등록_품종수,동물소유자수,동물소유자당_동물등록수,합계,미승인,반려,데이터 기준일자
0,율동,6,77,0,50,28,5,28,63,1.32,83,0,0,2024-06-25
1,구미동,416,2822,3,1777,1271,193,96,2523,1.28,3241,1,2,2024-06-25
2,궁내동,29,188,0,125,77,15,41,160,1.36,217,0,1,2024-06-25
3,금곡동,286,1805,0,1152,831,108,72,1629,1.28,2091,0,0,2024-06-25
4,대장동,17,286,0,157,133,13,48,219,1.38,303,0,0,2024-06-25

In [11]:
#등록주체 , 종류, 품종수, 미승인, 반려, 데이터기준일 삭제
pet_df=pet_df[['동별','동물소유자수','합계']]

In [12]:
# 동 정보를 기준으로 구별 컬럼 추가
import googlemaps

In [13]:
gmaps_key = "AIzaSyDClh8EDTMFdOqTqtLcLXcHy8Hm-BvuowQ" # 자신의 key를 사용합니다.
gmaps = googlemaps.Client(key=gmaps_key)

In [14]:
gmaps.geocode('하대원동', language='ko')

[{'address_components': [{'long_name': '하대원동',
    'short_name': '하대원동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '중원구',
    'short_name': '중원구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '성남시',
    'short_name': '성남시',
    'types': ['locality', 'political']},
   {'long_name': '경기도',
    'short_name': '경기도',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']}],
  'formatted_address': '대한민국 경기도 성남시 중원구 하대원동',
  'geometry': {'bounds': {'northeast': {'lat': 37.4349316, 'lng': 127.1579735},
    'southwest': {'lat': 37.4263105, 'lng': 127.129835}},
   'location': {'lat': 37.430128, 'lng': 127.1465044},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 37.4349316, 'lng': 127.1579735},
    'southwest': {'lat': 37.4263105, 'lng': 127.129835}}},
  'place_id': 'ChIJIyxbJPeofDURa33b21aei2U',
  'types': ['political', 'sublocality', 'sublocality_level_2']}]

In [15]:
#작업용 동별 컬럼을 만든다
pet_df['작업용 동별']=pet_df['동별']

In [16]:
pet_df.head(5)

    동별  동물소유자수    합계 작업용 동별
0   율동      63    83     율동
1  구미동    2523  3241    구미동
2  궁내동     160   217    궁내동
3  금곡동    1629  2091    금곡동
4  대장동     219   303    대장동

In [17]:
#작업용 동별 컬럼을 만들어서 성남시 를 추가한다.
pet_df['작업용 동별']='성남시 '+pet_df['작업용 동별']

In [18]:
# 동을 입력하면 구를 반환하는 함수
def extract_gu(dong):
    if dong=='성남시 중동':
        return '중원구'
    else :
        result = gmaps.geocode(dong, language='ko')
        return result[0]['formatted_address'].split()[3]

In [19]:
extract_gu('성남시 중동')

'중원구'

In [20]:
pet_df[pet_df['작업용 동별'].apply(extract_gu).isna()]

Empty DataFrame
Columns: [동별, 동물소유자수, 합계, 작업용 동별]
Index: []

In [26]:
pet_df['구별']=pet_df['작업용 동별'].apply(extract_gu)

In [27]:
pet_df.head(5)

    동별  동물소유자수    합계   작업용 동별   구별
0   율동      63    83   성남시 율동  분당구
1  구미동    2523  3241  성남시 구미동  분당구
2  궁내동     160   217  성남시 궁내동  분당구
3  금곡동    1629  2091  성남시 금곡동  분당구
4  대장동     219   303  성남시 대장동  분당구

In [28]:
pet_df=pet_df.drop('작업용 동별',axis=1)

In [29]:
pet_df.head(5)

    동별  동물소유자수    합계   구별
0   율동      63    83  분당구
1  구미동    2523  3241  분당구
2  궁내동     160   217  분당구
3  금곡동    1629  2091  분당구
4  대장동     219   303  분당구

In [30]:
hospital_df.head(5)

,구별,동별,사업장명,인허가일자,소재지도로명주소,소재지지번주소,소재지전화번호
0,수정구,단대동,금광동물병원,1991-01-18,경기도 성남시 수정구 산성대로 431 (단대동),경기도 성남시 수정구 단대동 97-3번지,031-731-5511
1,분당구,이매동,분당동물병원,1993-07-01,"경기도 성남시 분당구 양현로 126, 미림프라자 104호 (이매동)",경기도 성남시 분당구 이매동 115-1번지 미림프라자 104호,031-705-4144
2,분당구,수내동,금산헤르쯔 동물병원,1993-12-21,"경기도 성남시 분당구 돌마로 364, 현대제일상가 21호 (수내동)",경기도 성남시 분당구 수내동 79-2번지 현대제일상가 21호,031-712-2795
3,분당구,서현동,서울종합동물병원,1994-06-24,경기도 성남시 분당구 불정로 381 (서현동),경기도 성남시 분당구 서현동 305-1,031-702-5323
4,중원구,상대원동,한국동물병원,1994-12-20,"경기도 성남시 중원구 희망로 360, 10호 (상대원동)",경기도 성남시 중원구 상대원동 2999-10번지 10호,031-746-8990

In [39]:
#병원의 위도경도데이터 받아오기

In [43]:
import googlemaps

def get_coordinates(address):
    # Google Maps API 키를 여기에 입력하세요
    gmaps = googlemaps.Client(key='AIzaSyDClh8EDTMFdOqTqtLcLXcHy8Hm-BvuowQ')

    
    # 지오코딩 요청
    geocode_result = gmaps.geocode(address)
    
    if geocode_result:
        lat = geocode_result[0]['geometry']['location']['lat']
        lng = geocode_result[0]['geometry']['location']['lng']
        return lat, lng
    else:
        return None

In [55]:
address = "경기도 성남시 분당구 서현동 250-3 서울문고 1층 일부호"
get_coordinates(address)

(37.3860524, 127.1234215)

In [46]:
#병원 데이터 소재지도로명주소 를 이용해 위도 경도 데이터를 받아온다
hospital_df['위도, 경도']=hospital_df['소재지도로명주소'].apply(get_coordinates)

In [48]:
hospital_df.isna().sum()

구별          0
동별          0
사업장명        0
인허가일자       0
소재지도로명주소    0
소재지지번주소     2
소재지전화번호     7
위도, 경도      0
dtype: int64

In [49]:
pharmacy_df['위도, 경도']=pharmacy_df['소재지도로명주소'].apply(get_coordinates)

In [54]:
#pahrmacy_df의 위도경도 데이터가 없는 행을 찾아본다
pharmacy_df[pharmacy_df['위도, 경도'].isna()]

,구별,동별,사업장명,인허가일자,소재지도로명주소,소재지지번주소,전화번호,"위도, 경도"
37,분당구,서현동,서현윤약국,2024-01-29,NaN,경기도 성남시 분당구 서현동 250-3 서울문고 1층 일부호,031-202-2749,None

In [66]:
#도로명주소 없는 행 위도경도는 직접 넣어준다
pharmacy_df.loc[37, '소재지도로명주소'] = '경기도 성남시 분당구 황새울로342번길 9 1층'

In [67]:
pharmacy_df.iloc[37]

구별                                         분당구
동별                                         서현동
사업장명                                     서현윤약국
인허가일자                               2024-01-29
소재지도로명주소            경기도 성남시 분당구 황새울로342번길 9 1층
소재지지번주소     경기도 성남시 분당구 서현동 250-3 서울문고 1층 일부호
전화번호                              031-202-2749
위도, 경도                         37.392, 127.121
Name: 37, dtype: object

In [70]:
#불필요 데이터 삭제, 인허가일자, 소재지 지번주소, 전화번호
pharmacy_df=pharmacy_df.drop(['인허가일자','소재지지번주소','전화번호'],axis=1)

In [71]:
pharmacy_df.head(5)

,구별,동별,사업장명,소재지도로명주소,"위도, 경도"
0,분당구,서현동,웰리드동진약국,"경기도 성남시 분당구 불정로 381, 효자촌동진프라자 1011호 (서현동)","(37.3745816, 127.136712)"
1,분당구,대장동,참약사 대장약국,"경기도 성남시 분당구 판교대장로6길 10, 107호 (대장동)","(37.371884, 127.0671484)"
2,분당구,금곡동,청솔약국,"경기도 성남시 분당구 돌마로 79, 썬프라자 107호 (금곡동)","(37.3504, 127.1107955)"
3,분당구,구미동,하나약국,"경기도 성남시 분당구 미금일로 71, 하나빌딩 101호 (구미동)","(37.3456093, 127.111807)"
4,분당구,수내동,드림약국,"경기도 성남시 분당구 백현로101번길 17, 초림프라자 1층 118호 (수내동)","(37.37753250000001, 127.1125451)"

In [72]:
hospital_df.head(5)

,구별,동별,사업장명,인허가일자,소재지도로명주소,소재지지번주소,소재지전화번호,"위도, 경도"
0,수정구,단대동,금광동물병원,1991-01-18,경기도 성남시 수정구 산성대로 431 (단대동),경기도 성남시 수정구 단대동 97-3번지,031-731-5511,"(37.4549348, 127.1572993)"
1,분당구,이매동,분당동물병원,1993-07-01,"경기도 성남시 분당구 양현로 126, 미림프라자 104호 (이매동)",경기도 성남시 분당구 이매동 115-1번지 미림프라자 104호,031-705-4144,"(37.3950306, 127.1255156)"
2,분당구,수내동,금산헤르쯔 동물병원,1993-12-21,"경기도 성남시 분당구 돌마로 364, 현대제일상가 21호 (수내동)",경기도 성남시 분당구 수내동 79-2번지 현대제일상가 21호,031-712-2795,"(37.36997849999999, 127.1236449)"
3,분당구,서현동,서울종합동물병원,1994-06-24,경기도 성남시 분당구 불정로 381 (서현동),경기도 성남시 분당구 서현동 305-1,031-702-5323,"(37.3745816, 127.136712)"
4,중원구,상대원동,한국동물병원,1994-12-20,"경기도 성남시 중원구 희망로 360, 10호 (상대원동)",경기도 성남시 중원구 상대원동 2999-10번지 10호,031-746-8990,"(37.4378134, 127.1583847)"

In [73]:
#불필요 데이터 삭제 인허가일자, 소재지지번주소, 소재지전화번호
hospital_df=hospital_df.drop(['인허가일자','소재지지번주소','소재지전화번호'],axis=1)

In [74]:
hospital_df.head(5)

,구별,동별,사업장명,소재지도로명주소,"위도, 경도"
0,수정구,단대동,금광동물병원,경기도 성남시 수정구 산성대로 431 (단대동),"(37.4549348, 127.1572993)"
1,분당구,이매동,분당동물병원,"경기도 성남시 분당구 양현로 126, 미림프라자 104호 (이매동)","(37.3950306, 127.1255156)"
2,분당구,수내동,금산헤르쯔 동물병원,"경기도 성남시 분당구 돌마로 364, 현대제일상가 21호 (수내동)","(37.36997849999999, 127.1236449)"
3,분당구,서현동,서울종합동물병원,경기도 성남시 분당구 불정로 381 (서현동),"(37.3745816, 127.136712)"
4,중원구,상대원동,한국동물병원,"경기도 성남시 중원구 희망로 360, 10호 (상대원동)","(37.4378134, 127.1583847)"

In [75]:
pet_df.head(5)

    동별  동물소유자수    합계   구별
0   율동      63    83  분당구
1  구미동    2523  3241  분당구
2  궁내동     160   217  분당구
3  금곡동    1629  2091  분당구
4  대장동     219   303  분당구

In [76]:
#pet_df의 구별을 가장 왼쪽으로 이동
pet_df=pet_df[['구별','동별','동물소유자수','합계']]

In [88]:
#맵API이용하려면 위도와 경도를 분리해야한다

In [90]:
# "위도, 경도" 컬럼 슬라이스를 위한 str 변환
hospital_df["위도, 경도"] = hospital_df["위도, 경도"].astype(str)
pharmacy_df["위도, 경도"] = pharmacy_df["위도, 경도"].astype(str)
hospital_df["위도"] = hospital_df["위도, 경도"].str.replace(r"[()]", "", regex=True).str.split(",").str[0]
hospital_df["경도"] = hospital_df["위도, 경도"].str.replace(r"[()]", "", regex=True).str.split(",").str[1]
pharmacy_df["위도"] = pharmacy_df["위도, 경도"].str.replace(r"[()]", "", regex=True).str.split(",").str[0]
pharmacy_df["경도"] = pharmacy_df["위도, 경도"].str.replace(r"[()]", "", regex=True).str.split(",").str[1]

# float로 변환
hospital_df["위도"] = pd.to_numeric(hospital_df["위도"])
hospital_df["경도"] = pd.to_numeric(hospital_df["경도"])
pharmacy_df["위도"] = pd.to_numeric(pharmacy_df["위도"])
pharmacy_df["경도"] = pd.to_numeric(pharmacy_df["경도"])

# 불필요한 컬럼 삭제
hospital_df.drop(columns=["위도, 경도"], inplace=True)
pharmacy_df.drop(columns=["위도, 경도"], inplace=True)

In [91]:
hospital_df.head(5)

,구별,동별,사업장명,소재지도로명주소,위도,경도
0,수정구,단대동,금광동물병원,경기도 성남시 수정구 산성대로 431 (단대동),37.454935,127.157299
1,분당구,이매동,분당동물병원,"경기도 성남시 분당구 양현로 126, 미림프라자 104호 (이매동)",37.395031,127.125516
2,분당구,수내동,금산헤르쯔 동물병원,"경기도 성남시 분당구 돌마로 364, 현대제일상가 21호 (수내동)",37.369978,127.123645
3,분당구,서현동,서울종합동물병원,경기도 성남시 분당구 불정로 381 (서현동),37.374582,127.136712
4,중원구,상대원동,한국동물병원,"경기도 성남시 중원구 희망로 360, 10호 (상대원동)",37.437813,127.158385

In [92]:
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구별        118 non-null    object
 1   동별        118 non-null    object
 2   사업장명      118 non-null    object
 3   소재지도로명주소  118 non-null    object
 4   위도        118 non-null    float64
 5   경도        118 non-null    float64
dtypes: float64(2), object(4)
memory usage: 5.7+ KB

In [93]:
pharmacy_df.head(5)

,구별,동별,사업장명,소재지도로명주소,위도,경도
0,분당구,서현동,웰리드동진약국,"경기도 성남시 분당구 불정로 381, 효자촌동진프라자 1011호 (서현동)",37.374582,127.136712
1,분당구,대장동,참약사 대장약국,"경기도 성남시 분당구 판교대장로6길 10, 107호 (대장동)",37.371884,127.067148
2,분당구,금곡동,청솔약국,"경기도 성남시 분당구 돌마로 79, 썬프라자 107호 (금곡동)",37.350400,127.110795
3,분당구,구미동,하나약국,"경기도 성남시 분당구 미금일로 71, 하나빌딩 101호 (구미동)",37.345609,127.111807
4,분당구,수내동,드림약국,"경기도 성남시 분당구 백현로101번길 17, 초림프라자 1층 118호 (수내동)",37.377533,127.112545

In [94]:
pharmacy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구별        283 non-null    object
 1   동별        283 non-null    object
 2   사업장명      283 non-null    object
 3   소재지도로명주소  283 non-null    object
 4   위도        283 non-null    float64
 5   경도        283 non-null    float64
dtypes: float64(2), object(4)
memory usage: 13.4+ KB

In [81]:
hospital_df.head(5)

,구별,동별,사업장명,소재지도로명주소,"위도, 경도"
0,수정구,단대동,금광동물병원,경기도 성남시 수정구 산성대로 431 (단대동),"(37.4549348, 127.1572993)"
1,분당구,이매동,분당동물병원,"경기도 성남시 분당구 양현로 126, 미림프라자 104호 (이매동)","(37.3950306, 127.1255156)"
2,분당구,수내동,금산헤르쯔 동물병원,"경기도 성남시 분당구 돌마로 364, 현대제일상가 21호 (수내동)","(37.36997849999999, 127.1236449)"
3,분당구,서현동,서울종합동물병원,경기도 성남시 분당구 불정로 381 (서현동),"(37.3745816, 127.136712)"
4,중원구,상대원동,한국동물병원,"경기도 성남시 중원구 희망로 360, 10호 (상대원동)","(37.4378134, 127.1583847)"

In [101]:
hospital_df['동별'].unique()

array(['단대동', '이매동', '수내동', '서현동', '상대원동', '정자동', '하대원동', '신흥동', '성남동',
       '금곡동', '야탑동', '금광동', '복정동', '중앙동', '도촌동', '태평동', '백현동', '삼평동',
       '판교동', '분당동', '구미동', '운중동', '창곡동', '수진동', '여수동', '은행동', '대장동',
       '고등동', '시흥동'], dtype=object)

In [114]:

pet_df.head(5)

    구별   동별  동물소유자수  반려동물수
0  분당구   율동      63     83
1  분당구  구미동    2523   3241
2  분당구  궁내동     160    217
3  분당구  금곡동    1629   2091
4  분당구  대장동     219    303

In [109]:
#합계를 반려동물수로 변경
pet_df=pet_df.rename(columns={'합계':'반려동물수'})

In [120]:
#구별로 먼저 내림차순 정렬하고, hospital_df의 동별, phamacy_df의 동별을 내림차순 정렬
hospital_df=hospital_df.sort_values(by=['구별','동별'])
pharmacy_df=pharmacy_df.sort_values(by=['구별','동별'])
pet_df=pet_df.sort_values(by=['구별','동별'])

In [121]:
# 분석 데이터 저장
hospital_df.to_csv('data/hospitals.csv',index=False)
pharmacy_df.to_csv('data/pharmacies.csv',index=False)
pet_df.to_csv('data/pet_data.csv',index=False)

In [108]:
#성남시 행정동 GeoJSON 파일 추출
# 기존 GeoJSON 파일 불러오기
import json


geojson_path = "data/seongnam_geo.json"

with open(geojson_path, encoding="utf-8") as f:
    geo_json = json.load(f)

# GeoJSON 데이터에서 '경기도 성남시' 제거하고 '구별'과 '동별'을 분리
for feature in geo_json["features"]:
    original_name = feature["properties"]["adm_nm"]  # 예: "경기도 성남시수정구 신흥1동"
    
    # '경기도 성남시' 제거
    cleaned_name = original_name.replace("경기도 성남시", "").strip()  # "수정구 신흥1동"
    
    # 숫자로 끝나는 "1동", "2동", "3동" 등을 제거하여 기본 동이름만 사용 (신흥1동 → 신흥동)
    cleaned_name = ''.join([char for char in cleaned_name if not char.isdigit()]).replace("  ", " ").strip()
    
    # 새로운 속성 추가 (구, 동 나누기)
    gu_name, dong_name = cleaned_name.split(" ", 1)  # "수정구 신흥동" -> "수정구", "신흥동"
    feature["properties"]["gu_name"] = gu_name
    feature["properties"]["dong_name"] = dong_name

# 수정된 GeoJSON을 새로운 파일로 저장
new_geojson_path = "data/seongnam_geo.json"
with open(new_geojson_path, "w", encoding="utf-8") as f:
    json.dump(geo_json, f, ensure_ascii=False, indent=4)

✅ 정리된 GeoJSON 파일이 저장되었습니다: data/seongnam_geo.json

In [106]:
print(geo_json["features"][0]["properties"])

{'adm_nm': '경기도 성남시수정구 신흥1동', 'adm_cd2': '4113151000', 'sgg': '41131', 'sido': '41', 'sidonm': '경기도', 'sggnm': '성남시수정구', 'adm_cd': '31021510', 'gu_name': '수정구', 'dong_name': '신흥동'}